:root {
    --text: 'Roboto', sans-serif;
    --text-color: #434455;
    --dark-color: #2e2f42;
    --primary-barnd-color: #4d5ae5;
    --primary-dark-color: #404BBF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
body {
    font-family: var(--text)
    font-style: normal;
  
    color: var(--brand-color);
    
    
}    
/ = logo header= /
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 0.86;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.span-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 0.86;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    
}
.menu-link {
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16p;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--primary-barnd-color);
    background: var(--primary-dark-color);
}
.contacts {
    color: var(--text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.contacts:hover,
.contacts:focus {
    color: var(--primary-dark-color);
}
.hero-name {
   color: #434445; ffffff
   font-style: normal;
   font-weight: 600;
   font-size: 56px;
   letter-spacing: 0.02em;
   text-align: center;
   line-height: 0.93;
}   
.search-btn {
   
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: .67;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: var(--primary-barnd-color);
}    
.search-btn:hover,
.search-btn:focus {
    background: var(--primary-dark-color);
}  
.policy-item {
    
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0.83;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
 .policy-text {
   
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 0.83;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
 .work-team {
    
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.9;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
 }
.team-name {
    
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0.83;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.team-text {
    font-family: var(--text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.67;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.footer-text {
    font-family: var(--text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0.67;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.gallery-search-btn {
    font-family: var(--text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: .67;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-barnd-color);
}
.gallery-search-btn:hover,
.gallery-search-btn:focus {
  color: #FFFFFF; 
  background: #404BBF;
}
.card-content {
    font-family: var(--text);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.card-text {
    font-family: var(--text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
/*
    color: vor(--dark);
    front-style: normal;
    front-weight: 500;
    front-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
