:root {
    --text-color: #434455;
    --dark-color: #2e2f42;
    --primary-barnd-color: #4d5ae5;
    --primary-dark-color: #404BBF;
    --cloud: #f4f4fd;
    --back-color: #ffffff;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-style: normal;
  
       
    
}    
/ = logo header= /
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-barnd-color);
}
.span-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 0.86;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-barnd-color);
    
}
.menu-link {
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--primary-barnd-color);
    background-color: var(--primary-dark-color);
}
.contacts {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.contacts:hover,
.contacts:focus {
    color: var(--primary-dark-color);
}
.hero-name {
   color: var(--back-color); 
   font-weight: 600;
   font-size: 56px;
   letter-spacing: 0.02em;
   text-align: center;
   line-height: 1.07;
}   
.search-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--back-color);
    background-color: var(--primary-barnd-color);
    cursor: pointer;
}    
.search-btn:hover,
.search-btn:focus {
    background: var(--primary-dark-color);
}  
.policy-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.policy-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
 .policy-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 0.83;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.work-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.work-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
 }
.team-name {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 0.83;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.67;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.67;
    letter-spacing: 0.02em;
    color: var(--cloud);
}
.gallery-search-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 0.67;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-barnd-color);
}
.gallery-search-btn:hover,
.gallery-search-btn:focus {
  color: var(--back-color); 
  background-color: var(--primary-dark-color);
}
.card-content {
    font-weight: 500;
    font-size: 20px;
    line-height: 0.83;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.67;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
/*
    color: vor(--dark);
    front-style: normal;
    front-weight: 500;
    front-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
